[profile levi-opensgf]
sso_session = levi-opensgf
sso_account_id = {{ onepasswordRead "op://Dev/AWS Config/opensgf/account id" }}
sso_role_name = {{ onepasswordRead "op://Dev/AWS Config/opensgf/role" }}
region = us-east-2
[sso-session levi-opensgf]
sso_start_url = {{ onepasswordRead "op://Dev/AWS Config/opensgf/start url" }}
sso_region = us-east-2
sso_registration_scopes = sso:account:access
[profile levi-sgfdevs-admin]
sso_session = levi-sgfdevs
sso_account_id = {{ onepasswordRead "op://Dev/AWS Config/sgfdevs/account id" }}
sso_role_name = {{ onepasswordRead "op://Dev/AWS Config/sgfdevs/role" }}
region = us-east-2
[sso-session levi-sgfdevs]
sso_start_url = {{ onepasswordRead "op://Dev/AWS Config/sgfdevs/start url" }}
sso_region = us-east-2
sso_registration_scopes = sso:account:access
[profile levi-personal-admin]
sso_session = levi-personal
sso_account_id = {{ onepasswordRead "op://Dev/AWS Config/personal/account id" }}
sso_role_name = {{ onepasswordRead "op://Dev/AWS Config/personal/role" }}
region = us-east-2
[sso-session levi-personal]
sso_start_url = {{ onepasswordRead "op://Dev/AWS Config/personal/start url" }}
sso_region = us-east-2
sso_registration_scopes = sso:account:access
